{{ define "content"}}
<h2>Welcome to the actives page</h2>

{{ range .Actives}}
    {{ template "listing" .}}
{{end}}

{{ end }}

{{ define "listing" }}
    <p>Price: {{ .ID }}</p>
    <p>Beds: {{ .Beds }}</p>
    <p>Baths: {{ .Baths }}</p>
    <hr/>
{{ end }}