{{ define "content"}}
<h2>Welcome to the actives page</h2>

{{ range .}}
    {{ template "listing" .}}
{{end}}

{{ end }}

{{ define "listing" }}
    <p><b>Address: {{ .Address }}</b></p>
    <p>Price: {{ .Price }}</p>
    <p>Beds: {{ .Beds }}</p>
    <p>Baths: {{ .Baths }}</p>
    <hr/>
{{ end }}